/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  height: 100px;
  background: red;
}

form {
  text-align: center;
  height: 100px;
}

section {
  /* border: solid black 1px; */
  height: 100px;
  float: left;
  width: 250px;
  width: 16%;
  margin: 0 5px;
}

.mon {
  margin-left: 3px;
}

.weekday {
  height: 450px;
}

.weekend {
  height: 225px;
}

.sunday {
  float: right;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  text-align: center;
}

.day {
  border-bottom: solid black 3px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5%;
  border-bottom: solid black 1px;
}

.complete {
  text-decoration: line-through;
}