/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  height: 75px;
  background: #00529f;
  padding: 1%;
}

.form {
  height: 150px;
  width: 100%;
  text-align: center;
}

.days {
  height: 100px;
  float: left;
  width: 250px;
  width: 15%;
  margin: 0 12px;
}

.weekday {
  height: 450px;
}

.weekend {
  height: 225px;
}

.sunday {
  float: right;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* input, select, button {
  display: block;
} */

a {
  float: left;
  width: 40%;
  margin-top: 10px;
  text-decoration: none;
  color: #febe10;
}

h1 {
  text-align: center;
}

.title {
  float: left;
  color: #febe10;
}

form {
  padding-top: 4%;
}

input, select, button {
  height: 30px;
  border-radius: 10px;
}

select, button {
  width: 8%;
  background: #00529f;
  color: #febe10;
  cursor: pointer;
}

input {
  border: solid 2px #febe10;
}

select {
  text-align: center;
}

.day {
  border-bottom: solid black 3px;
  margin-bottom: 3%;
}

li.gold {
  border-bottom: solid #febe10 2px;
}

li.blue {
  border-bottom: solid #00529f 2px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5%;
  padding-bottom: 3%;
}

.complete {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

span {
  color: black;
  cursor: pointer;
}

.gold {
  color: #febe10;
}

.blue {
  color: #00529f;
}